<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href='../static/aboutcss.css'>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a class="active" href="/index.html">Home</a></li>
            <li><a href="/aboutus.html">About Us</a></li>
            <li><a href="/login.html">Login</a></li>
            <li><a href="/signup.html">Register</a></li>
            <li><a href="/model.html">Model</a></li>
            <li><a href="/contactus.html">Contact</a></li>
        </ul>
    </div>
    
    <br><br>
    <header>About Us</header>
    <br><br>
    <img src="https://wallpapercave.com/wp/wp3218486.jpg" alt="AI Enabled Car Parking Image">

    <h2>Welcome to AI-Enabled Car Parking Technology</h2>
    <p>Here, we are dedicated to simplify urban parking with cutting-edge in AI technology.</p>
    <p>Our goal is to simplify and enhance the process of locating a parking space by harnessing the capabilities of computer vision and artificial intelligence.</p>
    <br>

    <h2>What We Do</h2>
    <p>Our artificial intelligence system identifies and quantifies vacant parking spaces in real-time, eliminating the uncertainty associated with parking. Whether you're a driver in search of a spot or a parking facility manager looking to improve customer satisfaction, our solution has got you covered.</p>
    <br>

    <h2>Our Vision</h2>
    <p>We aspire to create technologically advanced and more inclusive cities. Through streamlining the parking procedures, we actively contribute to mitigating traffic congestion, lowering emissions, and enhancing the overall urban living experience.</p>
    <br>
    
    <p>Thanks for visiting</p>
</body>
</html>