<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href='../static/index.css'>
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.html">Register</a></li>
            <li><a href="model.html">Model</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
        </ul>
    </div>
    <br><br><br><br>
    <h1>AI Enabled Smart Parking Technology</h1>

    <p><i>Car Parking using OpenCV</i></p><br>
    <p>
        <a href="/model.html">
            <button class="left">
                START</button>
        </a>
    </p>
</body>
</html>